# Importing Libraries

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\uramp\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\uramp\anaconda3\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\uramp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\uramp\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\uramp\anaconda3\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\uramp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

# Getting Data

In [3]:
sets = pd.read_csv('sets.csv')
sets

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
...,...,...,...,...,...,...
22205,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
22206,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
22207,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
22208,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
22209,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

In [4]:
themes = pd.read_csv('themes.csv')
themes

      id                   name  parent_id
0      1                Technic        NaN
1      3            Competition        1.0
2      4         Expert Builder        1.0
3     16             RoboRiders        1.0
4     17         Speed Slammers        1.0
..   ...                    ...        ...
464  749               Dreamzzz        NaN
465  750        Marvel Series 2      535.0
466  751                 Marvel      207.0
467  752        Animal Crossing        NaN
468  753  Series 25 Minifigures      535.0

[469 rows x 3 columns]

#### Display Top 10 Rows of the sets dataset

In [5]:
sets.head(10)

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
5,0014-1,Space Mini-Figures,1979,143,2,https://cdn.rebrickable.com/media/sets/0014-1.jpg
6,0015-1,Space Mini-Figures,1979,143,18,https://cdn.rebrickable.com/media/sets/0015-1.jpg
7,0016-1,Castle Mini Figures,1979,189,15,https://cdn.rebrickable.com/media/sets/0016-1.jpg
8,002-1,4.5V Samsonite Gears Motor Set,1965,1,3,https://cdn.rebrickable.com/media/sets/002-1.jpg
9,002253963-1,Legend of Chima: Corbeaux et Gorilles,2013,497,4,https://cdn.rebrickable.com/media/sets/0022539...

#### Display Last 10 Rows of the sets dataset

In [6]:
sets.tail(10)

,set_num,name,year,theme_id,num_parts,img_url
22200,XBOXGAME-1,Batman the Videogame - Xbox 360,2008,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
22201,XBOXGAME-2,Bionicle Heroes - Xbox 360,2006,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
22202,XBOXGAME-3,DC Super-Villains - Xbox One,2018,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
22203,XBOXGAME-9,Star Wars: The Video Game - Xbox,2005,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
22204,XMASTREE-1,Christmas Tree,2019,410,26,https://cdn.rebrickable.com/media/sets/xmastre...
22205,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
22206,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
22207,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
22208,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
22209,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

#### Check Datatype of Each Column

In [7]:
sets.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
img_url      object
dtype: object

#### Check NULL Values in Sets

In [8]:
sets.isnull().sum()

set_num      0
name         0
year         0
theme_id     0
num_parts    0
img_url      0
dtype: int64

In [9]:
themes.isnull().sum()

id             0
name           0
parent_id    145
dtype: int64

#### How many Rows and Columns are there in our dataset

In [10]:
sets.shape

(22210, 6)

In [11]:
len(sets.columns)

6

In [12]:
len(sets)

22210

In [13]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22210 entries, 0 to 22209
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    22210 non-null  object
 1   name       22210 non-null  object
 2   year       22210 non-null  int64
 3   theme_id   22210 non-null  int64
 4   num_parts  22210 non-null  int64
 5   img_url    22210 non-null  object
dtypes: int64(3), object(3)
memory usage: 1.0+ MB

# MERGE DATA

#### Joining the two datasets to answer questions

In [14]:
sets_themes = pd.merge(sets, themes, how = 'left', left_on = 'theme_id', right_on = 'id', suffixes = ('_sets', '_themes'))
sets_themes.head()

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0

In [15]:
sets_themes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22210 entries, 0 to 22209
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   set_num      22210 non-null  object
 1   name_sets    22210 non-null  object
 2   year         22210 non-null  int64
 3   theme_id     22210 non-null  int64
 4   num_parts    22210 non-null  int64
 5   img_url      22210 non-null  object
 6   id           22210 non-null  int64
 7   name_themes  22210 non-null  object
 8   parent_id    11828 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 1.5+ MB

In [16]:
sets_themes.columns

Index(['set_num', 'name_sets', 'year', 'theme_id', 'num_parts', 'img_url',
       'id', 'name_themes', 'parent_id'],
      dtype='object')

# Questions

### 1. What is the total number of parts per theme?

In [17]:
Num_Parts_per_Theme = sets_themes.groupby('name_themes').sum().reset_index()
Num_Parts_per_Theme = Num_Parts_per_Theme[['name_themes', 'num_parts']].sort_values('num_parts', ascending = False)
Num_Parts_per_Theme

                     name_themes  num_parts
326                      Technic     257980
311                    Star Wars     247823
125                      Friends     134174
222                      Ninjago     120076
356    Ultimate Collector Series     105949
..                           ...        ...
258  Role Play Toys and Costumes          0
12               Animal Crossing          0
240       Posters and Art Prints          0
238                   Plush Toys          0
25          Bag and Luggage Tags          0

[382 rows x 2 columns]

### 2. What is the total number of parts per year

In [18]:
Num_Parts_per_Year = sets_themes.groupby('year').sum().reset_index()
Num_Parts_per_Year = Num_Parts_per_Year[['year', 'num_parts']].sort_values('num_parts', ascending = False)
Num_Parts_per_Year

    year  num_parts
72  2023     299027
71  2022     280895
70  2021     265490
69  2020     212157
68  2019     192061
..   ...        ...
5   1956        295
3   1954        117
8   1959         79
2   1953         50
1   1950          6

[74 rows x 2 columns]

### 3. How many sets where created in each Century in the dataset

##### Added Century as a derived column to the sets_themes dataset

In [19]:
unique_year = sets_themes['year'].unique()
unique_year.sort()
unique_year

array([1949, 1950, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024], dtype=int64)

##### Dividing Century Column into two parts

In [20]:
sets_themes['year'] > 2000

sets_themes['Century'] = np.where(sets_themes['year'] > 2000, '21st_Century', '20th_Century')

sets_themes

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,Century
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN,20th_Century
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0,20th_Century
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0,20th_Century
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0,20th_Century
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0,20th_Century
...,...,...,...,...,...,...,...,...,...,...
22205,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...,158,Star Wars,NaN,21st_Century
22206,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...,158,Star Wars,NaN,21st_Century
22207,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...,158,Star Wars,NaN,21st_Century
22208,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...,598,Promotional,NaN,21st_Century
22209,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...,501,Gear,NaN,21st_Century

In [21]:
Num_set_per_Century = sets_themes.groupby('Century').count().reset_index()
Num_set_per_Century [['Century', 'set_num']]

        Century  set_num
0  20th_Century     5055
1  21st_Century    17155

### 4. What percentage of sets ever released in the 21st Century were Trains Themed

##### Filtering Data where Century is 21st_Century AND theme name is Train

In [22]:
Century_21_Data = sets_themes[ sets_themes['Century'] == '21st_Century']
Train = Century_21_Data[ Century_21_Data['name_themes'].str.contains('Train')]

In [23]:
Century_21_Data.shape[0]

17155

In [24]:
Train.shape[0]

68

In [25]:
Train.shape[0] / Century_21_Data.shape[0] * 100

0.39638589332556107

### 5. What percentage of sets ever released in the 21st Century were Disney Themed

In [26]:
Disney = Century_21_Data[ Century_21_Data['name_themes'].str.contains('Disney')]
Disney

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,Century
449,10418-1,Elsa & Bruni in the Enchanted Forest,2024,640,0,https://cdn.rebrickable.com/media/sets/10418-1...,640,Disney Princess,504.0,21st_Century
476,10509-1,Dusty and Chug,2013,627,16,https://cdn.rebrickable.com/media/sets/10509-1...,627,Disney Planes,504.0,21st_Century
478,10510-1,Ripslinger's Air Race,2013,627,40,https://cdn.rebrickable.com/media/sets/10510-1...,627,Disney Planes,504.0,21st_Century
479,10511-1,Skipper's Flight School,2013,627,53,https://cdn.rebrickable.com/media/sets/10511-1...,627,Disney Planes,504.0,21st_Century
483,10515-1,Ariel's Undersea Castle,2013,640,39,https://cdn.rebrickable.com/media/sets/10515-1...,640,Disney Princess,504.0,21st_Century
...,...,...,...,...,...,...,...,...,...,...
20923,BELLE-1,Belle's Castle,2016,579,72,https://cdn.rebrickable.com/media/sets/belle-1...,579,Disney Princess,NaN,21st_Century
20996,CINDERELLASCASTLE-1,Cinderella's Castle,2017,608,102,https://cdn.rebrickable.com/media/sets/cindere...,608,Disney,NaN,21st_Century
21971,ROSE-1,The Beast's Enchanted Rose,2017,608,0,https://cdn.rebrickable.com/media/sets/rose-1.jpg,608,Disney,NaN,21st_Century
22107,TRUCOGSWORTH-1,Cogsworth,2016,608,48,https://cdn.rebrickable.com/media/sets/trucogs...,608,Disney,NaN,21st_Century
22119,TRULUMIERE-1,Lumiere,2016,608,24,https://cdn.rebrickable.com/media/sets/trulumi...,608,Disney,NaN,21st_Century

In [27]:
Disney.shape[0]

252

In [28]:
Disney.shape[0] / Century_21_Data.shape[0] * 100

1.4689594870300204

### 6. What is the popular theme by year in terms of sets released in the 21st Century

In [29]:
Popular_Theme_per_Year = Century_21_Data.groupby(['year', 'name_themes']).count().reset_index()
Popular_Theme_per_Year = Popular_Theme_per_Year[['year', 'name_themes', 'set_num']].sort_values('set_num', ascending = False)
Popular_Theme_per_Year.drop_duplicates('year').sort_values('year', ascending = False)

      year name_themes  set_num
1798  2024     Friends       24
1701  2023       Books      111
1620  2022       Books       97
1562  2021        Gear      149
1445  2020       Books       80
1358  2019       Books       76
1271  2018       Books       69
1183  2017       Books       81
1091  2016       Books       81
1062  2015   Star Wars       69
969   2014     Technic      118
806   2013       Books       49
761   2012     Ninjago       47
683   2011     Ninjago       43
602   2010   Key Chain       44
549   2009      Racers       42
437   2008    Bionicle       39
397   2007   Key Chain       36
306   2006    Bionicle       50
243   2005    Bionicle       38
184   2004    Bionicle       50
120   2003    Bionicle       64
105   2002     Technic       64
7     2001    Bionicle       45

### 7. What is the most produced color of lego ever in terms of quantity of parts?

##### Importing other Data files

In [30]:
colors = pd.read_csv('colors.csv')
colors

       id                  name     rgb is_trans
0      -1             [Unknown]  0033B2        f
1       0                 Black  05131D        f
2       1                  Blue  0055BF        f
3       2                 Green  237841        f
4       3        Dark Turquoise  008F9B        f
..    ...                   ...     ...      ...
261  1135                 Metal  A5ADB4        f
262  1136        Reddish Orange  CA4C0B        f
263  1137          Sienna Brown  915C3C        f
264  1138           Umber Brown  5E3F33        f
265  9999  [No Color/Any Color]  05131D        f

[266 rows x 4 columns]

In [31]:
inventory_parts = pd.read_csv('inventory_parts.csv')
inventory_parts

,inventory_id,part_num,color_id,quantity,is_spare,img_url
0,1,48379c04,72,1,f,https://cdn.rebrickable.com/media/parts/photos...
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...
2,1,stickerupn0077,9999,1,f,NaN
3,1,upn0342,0,1,f,https://cdn.rebrickable.com/media/parts/photos...
4,1,upn0350,25,1,f,NaN
...,...,...,...,...,...,...
1208607,204762,30151a,272,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1208608,204762,3626bpr0694,78,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1208609,204762,3833,14,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1208610,204763,30151apr0001,85,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1208611,204763,90001,85,1,f,https://cdn.rebrickable.com/media/parts/elemen...

##### Joining both dataset

In [32]:
color_inventory = pd.merge(inventory_parts, colors, how = 'left', left_on = 'color_id', right_on = 'id')
color_inventory

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,name,rgb,is_trans
0,1,48379c04,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,https://cdn.rebrickable.com/media/parts/photos...,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
...,...,...,...,...,...,...,...,...,...,...
1208607,204762,30151a,272,1,f,https://cdn.rebrickable.com/media/parts/elemen...,272,Dark Blue,0A3463,f
1208608,204762,3626bpr0694,78,1,f,https://cdn.rebrickable.com/media/parts/elemen...,78,Light Nougat,F6D7B3,f
1208609,204762,3833,14,1,f,https://cdn.rebrickable.com/media/parts/elemen...,14,Yellow,F2CD37,f
1208610,204763,30151apr0001,85,1,f,https://cdn.rebrickable.com/media/parts/elemen...,85,Dark Purple,3F3691,f
1208611,204763,90001,85,1,f,https://cdn.rebrickable.com/media/parts/elemen...,85,Dark Purple,3F3691,f

##### Renaming Column in Color file

In [33]:
color_inventory.rename(columns={'name': 'color_name'}, inplace = True)
color_inventory

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,color_name,rgb,is_trans
0,1,48379c04,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,https://cdn.rebrickable.com/media/parts/photos...,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
...,...,...,...,...,...,...,...,...,...,...
1208607,204762,30151a,272,1,f,https://cdn.rebrickable.com/media/parts/elemen...,272,Dark Blue,0A3463,f
1208608,204762,3626bpr0694,78,1,f,https://cdn.rebrickable.com/media/parts/elemen...,78,Light Nougat,F6D7B3,f
1208609,204762,3833,14,1,f,https://cdn.rebrickable.com/media/parts/elemen...,14,Yellow,F2CD37,f
1208610,204763,30151apr0001,85,1,f,https://cdn.rebrickable.com/media/parts/elemen...,85,Dark Purple,3F3691,f
1208611,204763,90001,85,1,f,https://cdn.rebrickable.com/media/parts/elemen...,85,Dark Purple,3F3691,f

In [34]:
Popular_Color = color_inventory.groupby('color_name').sum().reset_index()
Popular_Color = Popular_Color[['color_name', 'quantity']].sort_values('quantity', ascending = False)

In [35]:
Popular_Color.head(50)

               color_name  quantity
1                   Black    752362
98      Light Bluish Gray    463862
249                 White    455325
25       Dark Bluish Gray    330242
181                   Red    294144
2                    Blue    198375
250                Yellow    198291
200                   Tan    157306
182         Reddish Brown    135843
100            Light Gray    103590
63                  Green     76190
34               Dark Tan     51047
162                Orange     44727
206           Trans-Clear     44431
169            Pearl Gold     42714
23              Dark Blue     42221
33               Dark Red     42220
113                  Lime     38872
216      Trans-Light Blue     30145
124         Medium Nougat     27194
27              Dark Gray     24340
5     Bright Light Orange     23533
231             Trans-Red     22827
50            Flat Silver     22175
116          Medium Azure     21137
191            Sand Green     20252
3            Bright Green     20010
28             Dark Green     18763
26             Dark Brown     18184
35         Dark Turquoise     17505
30            Dark Orange     17200
227          Trans-Orange     15723
32            Dark Purple     14503
233          Trans-Yellow     14499
7             Bright Pink     14152
117           Medium Blue     13976
22             Dark Azure     13163
31              Dark Pink     11846
208       Trans-Dark Blue     11397
115               Magenta     11292
9                   Brown      9945
204           Trans-Brown      9743
252  [No Color/Any Color]      9357
6     Bright Light Yellow      8582
161           Olive Green      8522
96             Light Aqua      8402
190             Sand Blue      7873
223      Trans-Neon Green      7722
122       Medium Lavender      7081
224     Trans-Neon Orange      6567